 nav {
     position: relative;
     text-align: center;
 }
 .navpad {
    border-style: solid;
    border-color: red;
 }
 a {
     text-decoration: none;
     color: green;
     font-size: 25px;
     padding: 8px;
     margin: 50px;
 }

 a:hover {
     color: blue;
 }

 h1 {
     text-align: center;
 }
 .announ {
     color: white;
     background-color: #1e241e;
     margin: 6px;
     font-size: 20px;
     min-height: 115px;
     min-width: 30px;
     background-image: url('https://cdn-icons-png.flaticon.com/128/4549/4549612.png');
 }

 .div {
     color: white;
     background-color: #1e241e;
     margin: 6px;
     font-size: 20px;
     min-height: 475px;
     min-width: 30px;
     top: 120px;
     background-image: url('https://cdn-icons-png.flaticon.com/128/4549/4549612.png');
 }
 .red-text {
     color: crimson;
 }

 .blue-text {
     color: blue;
 }

 .green-text {
     color: rgb(20, 220, 43);
 }

 .yellow-text {
     color: yellow;
 }

.img1 {
     position: center; 
 }
.email {
      position: relative;
      text-align: center;
      top: 190px;
  }
.email2 {
     position: relative;
     text-align: center;
     top: 70px;
 }

.text1 {
     position: relative;
     text-align: center;
     top: 70px;
 }
.name {
    position: relative;
    text-align: center;
    top: 90px;
}
.name2 {
    position: relative;
    text-align: center;
    top: 140px;
}
 .act:target {
     background-color: yellow;
 }
